.combobox {
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    height: 36px;
    border: 1px solid #afafaf;
    border-radius: 2.5px;
}

.combobox:focus-within {
    border: 1px solid #30ADCD;
}

.combobox--error {
    border: 1px solid var(--input--error);
}

.combobox.combobox--error+.error-message {
    display: block;
}

.popup .combobox {
    width: 100%;
}

.combobox__input {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 12px;
    padding-right: 36px;
}

.combobox__input:hover,
.combobox__input:focus,
.combobox__input:active {
    border: none;
    cursor: context-menu;
}

.combobox__input.input::placeholder {
    font-family: MISA Italic !important;
}

.combobox__button {
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 2.5px;
    background-color: transparent;
    /* z-index: -1; */
}

.combobox__data {
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    max-height: 150px;
    border-radius: 2.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    line-height: 36px;
    overflow: auto;
    background-color: #fff;
    padding: 0 8px 8px;
    z-index: 1;
}

.combobox__data .data {
    position: relative;
    display: flex;
    height: 36px;
    /* background-color: #fff; */
    cursor: context-menu;
}

/* combobox detail  */
.combobox__data .title {
    position: sticky;
    top: 0;
    padding-top: 8px;
    z-index: 1;
    background-color: #fff;
}

.text__wrapper {
    width: 48px;
    text-align: center;
}

.text__wrapper+p {
    padding-left: 24px;
}

.combobox--detail .combobox__data .data:first-child {
    background-color: var(--combobox__first-data);
    border-radius: 2.5px;
}

.combobox__data .data:first-child:hover {
    background-color: var(--combobox__first-data);
}

.combobox__data .data:first-child p {
    font-family: MISA Bold;
}

/* combobox checked  */
.combobox__data .data:hover {
    border-radius: 2.5px;
    background-color: var(--combobox__data);
}

.combobox__data .data:hover .icon__wrapper {
    opacity: 1;
}

.combobox__data .data .icon__wrapper {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 2.5px;
    opacity: 0;
    background-color: var(--combobox__data);
}

.footer__left .combobox {
    justify-content: space-between;
    width: 59px;
    height: 25px;
    border-radius: 2.625px;
    margin-right: 20px;
}

.foot .combobox__input,
.footer__left .combobox__input {
    width: calc(100% - 31px);
    text-align: right;
    padding: 0;
}

.foot .combobox__button,
.footer__left .combobox__button {
    width: 31px;
    height: 25px;
}

.combobox--checked .data .icon__wrapper--checked {
    opacity: 1;
}

.data--selected {
    background-color: var(--combobox__data);
}

.combobox__data--up {
    top: unset;
    bottom: calc(100% + 1px);
    padding: 8px;
}

.combobox__data--up .data {
    justify-content: center;
}