@import url(font.css);
@import url(icon.css);
@import url(layout/sidebar.css);
@import url(layout/header.css);
@import url(layout/content.css);
@import url(components/input.css);
@import url(components/dropdown.css);
@import url(components/button.css);
@import url(components/table.css);
@import url(components/combobox.css);
@import url(components/popup.css);
@import url(components/dialog.css);
@import url(more/scrollbar.css);
@import url(more/loader.css);
/* @import url(patterns/header.css);
@import url(components/date_picker.css);
@import url(components/text.css);
@import url(components/dropdown.css);
@import url(communication/toast.css);
@import url(more/tooltip.css);
@import url(style.css); */

:root {
    --outline-button--hover: #1AA4C8;
    --menu-item: #1AA4C8;
    --input--hover: #1AA4C8;
    --input--error: #EA3636;
    --row--hover: #D1EDF4;
    --combobox__data: #C7E0F4;
    --scrollbar-thumb: #ABB6C8;
    --scrollbar-track: #D1DAE9;
    --checkbox__border: #090F39;
    --checkbox__background: #31B9E2;
    --combobox__first-data: #96C6EE;
}

* {
    box-sizing: border-box;
    font-family: MISA Regular;
    font-size: 13px
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout {
    display: flex;
    overflow: hidden;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (max-width: 1500px) {
    .sidebar {
        width: 66px;
    }

    .item__content {
        display: none;
    }

    .icon-item_wrapper .icon_sidebar-collapse {
        display: none;
    }
}