@font-face {
    font-family: MISA Black;
    src: url(../assets/font/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: MISA Light;
    src: url(../assets/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MISA Italic;
    src: url(../assets/font/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: MISA Bold;
    src: url(../assets/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: MISA Regular;
    src: url(../assets/font/Roboto/Roboto-Regular.ttf);
}